@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ff7a7a;
  margin: 0;
  padding: 0;
}

.container {
  background: url("../images/bg-intro-desktop.png") center top;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px;
}

.container .container-texts {
  color: #fff;
  padding: 10px;
}

.container .container-texts__h1 {
  font-size: 4rem;
}

.container .container-texts__p {
  margin-top: 1rem;
  font-size: 15px;
}

.container .contact {
  padding: 1rem;
}

.container .contact__free {
  color: #fff;
  background-color: #6055a5;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5);
          box-shadow: rgba(0, 0, 0, 0.5);
}

.container .contact__form {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.container .contact__form input {
  padding: 15px 15px;
  outline: none;
  height: 2.5rem;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #b9b6d3;
}

.container .contact__form input:focus {
  border: 1.3px solid #6055a5;
  outline: none;
}

.container .contact__form .btn {
  background-color: #38cc8c;
  color: #fff;
  height: 2.5rem;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  border: 1px solid #38cc8c;
  -webkit-box-shadow: 1 2px #38cc8c;
          box-shadow: 1 2px #38cc8c;
  letter-spacing: 1px;
}

.container .contact__form .btn:focus {
  outline: none;
}

.container .contact__form .btn:active {
  -webkit-box-shadow: 0 0 #38cc8c;
          box-shadow: 0 0 #38cc8c;
  outline: none;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.container .contact__form .claim {
  text-align: center;
  font-size: 10px;
  padding: 10px;
  opacity: 0.7;
}

.container .contact__form .claim .last {
  color: #ff7a7a;
}

.contact__details {
  margin: 20px 0 20px 0;
}

.contact__details img {
  position: absolute;
  margin-top: 20px;
  right: 14rem;
  height: 20px;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact__details span {
  float: right;
  color: #ff7a7a;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .container {
    background: url("../images/bg-intro-mobile.png") center top;
    background-size: cover;
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
  }
  .container .container-texts {
    color: #fff;
  }
  .container .container-texts__h1 {
    text-align: center;
    font-size: 1rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .container .container-texts__p {
    text-align: center;
    font-size: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    background: url("../images/bg-intro-mobile.png") center top;
    background-size: cover;
    width: 100vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
  }
  .container .container-texts {
    color: #fff;
  }
  .container .container-texts__h1 {
    text-align: center;
    font-size: 2.5rem;
  }
  .container .container-texts__p {
    text-align: center;
    font-size: 15px;
  }
  .contact__details img {
    position: absolute;
    right: 5rem;
  }
}

.attribution {
  color: #fff;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #6055a5;
}
/*# sourceMappingURL=main.css.map */