

@mixin  media-lg {
    @media screen and (max-width: 1024px){
        @content;
    }
}

@include media-lg{

        body{
        background-image: url('../images/bg-intro-mobile.png');
    }
    .container{
        flex-direction: column;

        .contact{
            padding: 10px 10px;
        }

        .container-texts{
            padding: 20px 5px;
            
            &__h1{
                text-align: center;
                font-size: 2.5rem;
            }
            &__p{
                text-align: center;
                font-size: 15px;
                max-width: 600px;
            }
    }
}

.contact__details{
    margin: 0px 0;

    img{
        position: relative;
        left: 13rem;
        transform: translateY(-180%);
    }
}
}

