@import './config';

body{
    background-color: $primary-red;
    margin: 0;
    padding: 0;
}

.container{
    background: url('../images/bg-intro-desktop.png') center top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    padding: 150px;

    .container-texts{
        color: #fff;
        padding: 10px; 

        &__h1{
            font-size: 4rem;
        }

        &__p{
            margin-top: 1rem;
            font-size: 15px;
        }
    }

    .contact{
        padding: 1rem;

        &__free{
                color: #fff;
                background-color: $accent;
                padding: 15px;
                text-align: center;
                border-radius: 5px;
                margin-bottom: 20px;
                box-shadow: rgba(0, 0, 0, 0.5);

                  }

        &__form{
            background: #fff;
            padding: 20px;
            border-radius: 5px;

            input{
                padding: 15px 15px;
                outline: none;
                height: 2.5rem;
                width: 100%;
                border-radius: 3px;
                border: 1px solid $neutral-grayish_blue;

                &:focus{
                    border: 1.3px solid $accent;
                    outline: none;
                }
            }

            .btn{
                background-color: $primary-green;
                color: #fff;
                height: 2.5rem;
                width: 100%;
                border-radius: 3px;
                cursor: pointer;
                text-transform: uppercase;
                outline: none;
                border: 1px solid $primary-green;
                box-shadow: 1 2px $primary-green;
                letter-spacing: 1px;

                &:focus{
                    outline: none;
                }

                &:active{
                    box-shadow: 0 0 $primary-green;
                    outline: none;
                    transform: translateY(2px);
                }
            }

            .claim{
                text-align: center;
                font-size: 10px;
                padding: 10px;
                opacity: 0.7;

                .last{
                    color: $primary-red;
                }
            }
        }

    }
}

.contact__details{

    margin: 20px 0 20px 0;

    img{
        position: absolute;
        margin-top: 20px;
        right: 13.5rem;
        height: 20px;
        opacity: 0;
        transform: translateY(-50%);
    }

    span{
        float: right;
        color: $primary-red;
        font-size: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        opacity: 0;
    }
}

@import './responsive';

.attribution {
    color: #fff;
    font-size: 11px;
     text-align: center; 

    & a{
        color: $accent; 
    }
   }